<html>

<head>
  <title>CSCI214Project</title>
  <script
  src="https://code.jquery.com/jquery-1.12.3.min.js"
  integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
  crossorigin="anonymous"></script>


  <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.date.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.time.css" />



  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href = "/assets/styles.css" rel="stylesheet" type="text/css" />
  <style>
    #nav1 {
      color: rgba(0,0,0,.3);
    }
    #nav2 {
      color: rgba(0,0,0,.3);
    }
    #nav3 {
      color: rgba(0,0,0,.3);
    }
    #nav4 {
      color: rgba(0,0,0,.3);
    }
    #nav5 {
      color: rgba(0,0,0,.3);
    }
    #nav6 {
      color: rgba(0,0,0,.3);
    }
  </style>
</head>

<body>
  <div style="margin: auto; text-align: center;">
    <img src="/assets/W2.jpg" alt="uow" height="80px">
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle3">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Incorrect password
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle4">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Confirm password is incorrect
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% if(details.type == "student") {%>
      <% include partials/navBarStudent.ejs %>
  <% }else{ %>
      <% include partials/navBarStaff.ejs %>
  <% } %>
  <br>
  <div class="centerSet">
    <div class="">
      <span style="font-size:40px;" class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
        <br>
        <br><br>
      </span>
      <div style="    font-size: 20px;  font-weight: bold;  color: rgba(203, 54, 54, 0.71);">
        Account Setting

      </div>
      <div class="" style="font-size: 15px; color: #6c757d;">
        Use correct password and confirm to change account password
      </div>
    </div>
    <hr style="width: 1300px;">

  </div>
    <br>

    <div class="background" style="margin-left:20%;">
      <h7 class="marginSet2" style="margin-left:320px;">Change Password</h7>
      <hr style="margin-top:0; margin-right:30%; width:350px; margin-left:140px;">
      <br>

      <div class="marginSet">
        <form id="formUpdatePassword" name="<%= user %>">
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">Old Password</label>
              <input type="password" class="form-control" id="oldPass" name="oldPass"  placeholder="Old Password" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationDefault03">New Password</label>
              <div class="input-group">
                <input type="password" class="form-control" id="newPass" name="newPass" placeholder="New Password" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationDefault03">Confirm New Password</label>
              <div class="input-group">
                <input type="password" class="form-control" id="newPass2" name="newPass2" placeholder="Confirm New Password" required>
              </div>
            </div>
          </div>
          <div class="ce" style="text-align: center; margin-right: 800px;">
            <button type="submit" class="styleButton" style="cursor: pointer; margin: 10px 0px;width: 200px; font-size: 18px;">Change Password</button>
          </div>

        </form>
      </div>
    </div>


    <br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-1.12.3.min.js"
    integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.date.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.time.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/assets/changePassAccount-client.js"></script>
  </body>

  </html>
