<html>

      <head>
        <title>CSCI214Project</title>
        <script
  src="https://code.jquery.com/jquery-1.12.3.min.js"
  integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
  crossorigin="anonymous"></script>

        <link href = "/assets/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
        <script src="/assets/todo-list.js"></script>
      </head>

      <body>
        <div style="margin: auto; text-align: center;">
        <img src="/assets/W2.jpg" alt="uow" height="80px">
        </div>
        <div class="head" style="text-align: center; font-weight: bold; font-size: 20px;">
            WELCOME TO UOW BOOKING SYSTEM
        </div>
      <div>
      <table class="card">
        <tr>
          <td style="vertical-align: middle; padding:40px 20px">
            <div id="bigbox">

              <div class="box">
                <a href="/loginStudent">STUDENT</a>
              </div>
              <br>
              <div class="box">
                <a href="/loginStaff">STAFF</a>
              </div>

            </div>
          </td>
        </tr>
      </table>
      </div>
    </body>

    </html>
