<html>

      <head>
        <title>CSCI214Project</title>
        <script
  src="https://code.jquery.com/jquery-1.12.3.min.js"
  integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
  crossorigin="anonymous"></script>

        <link href = "/assets/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
        <script src="/assets/todo-list.js"></script>
        <style media="screen">
          body{
            background: rgb(245, 245, 245);
          }

          .card {
            background-color: white;
            border: 1px solid #CCC;
          }

          .box {
            border: 0px solid black;;
          }

          a:hover {
            text-decoration: underline;
          }
        </style>
      </head>

      <body>




      <div class="setBacgkround">
        <!-- <div class="head" style="text-align: center; font-weight: bold; font-size: 20px;">
            WELCOME TO UOW BOOKING SYSTEM
        </div> -->
        <div class="">
          <div class="containerNew" style="margin-top:50px;">
            <table class="card">
              <tr>
                <td style="vertical-align: middle;">
                  <div style="background-color:white; ">
                    <div style="margin: auto; text-align: center; border-bottom:4px solid rgba(203, 54, 54, 0.71); margin-bottom: 1em;">
                    <img src="/assets/W2.jpg" alt="uow" height="80px">
                    </div>
                  </div>
                  <br>
                  <div id="bigbox" style="vertical-align: middle; padding-left:20px;padding-right:20px;padding-bottom:0px;">

                    <div class="box">
                      <a href="/loginStudent">STUDENT</a>
                    </div>
                    <br>
                    <div class="box">
                      <a href="/loginStaff">STAFF</a>
                    </div>

                  </div>
                  <br>
                  <div class="" style="padding-bottom:10px; text-align:right; padding-right:20px; margin:10px 0px;">
                    <div style="color: rgba(203, 54, 54, 0.71); font-weight:bold;"><a style="color: rgba(203, 54, 54, 0.71);" href="/createAccount">New User ?</a></div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>


      </div>
    </body>

    </html>
