<html>

    <head>
      <title>CSCI214Project</title>
      <script
      src="https://code.jquery.com/jquery-1.12.3.min.js"
      integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
      crossorigin="anonymous"></script>


      <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.date.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.time.css" />



      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href = "/assets/styles.css" rel="stylesheet" type="text/css" />

      <style>
        #nav1 {
          color: rgba(0,0,0,.9);
        }


        .card {
          border: 0px solid black;
          margin: 0px 0px;
        }

        .card-text {
          color: #6c757d;
        }
      </style>
    </head>

    <body>
      <div style="margin: auto; text-align: center;">
      <img src="/assets/W2.jpg" alt="uow" height="80px">
      </div>

      <% include partials/navBarStaff.ejs %>
      <div class="picture3">
        <div class="containerNew2" style="padding-top: 100px;">
          <h7 class="marginSet4" style="font-size: 40px; color: white;"  >Welcome to</h7><br>
          <h7 class="marginSet3" >EVENT BOOKING SYSTEM</h7>

        </div>
      </div>

      <hr style="width: 1300px;">
      <div class="card-group">
        <div class="card">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">
              <span style="font-size:40px;" class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                <br>
                <br><br>
              </span>
            </h5>
            <div style="    font-size: 20px;  font-weight: bold;  color: rgba(203, 54, 54, 0.71);">
              Create Event
            </div>
            <p class="card-text">Fill the required form to create new event</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
        <div class="card">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">
              <span style="font-size:40px;" class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                <br>
                <br><br>
              </span>
            </h5>
            <div style="    font-size: 20px;  font-weight: bold;  color: rgba(203, 54, 54, 0.71);">
              View Event

            </div>
            <p class="card-text">Checking all events from database <br> including upcoming and past events</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
        <div class="card">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">
              <span style="font-size:40px;" class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                <br>
                <br><br>
              </span>
            </h5>
            <div style="    font-size: 20px;  font-weight: bold;  color: rgba(203, 54, 54, 0.71);">
              Modify Event

            </div>
            <p class="card-text">View and modify selected event
            <br> Only creator of that event can modify it
            </p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
        <div class="card">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">
              <span style="font-size:40px;" class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-clipboard-list fa-stack-1x fa-inverse"></i>
                <br>
                <br><br>
              </span>
            </h5>
            <div style="    font-size: 20px;  font-weight: bold;  color: rgba(203, 54, 54, 0.71);">
              View Booking

            </div>
            <p class="card-text">View event booking and its information</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
      </div>
      <hr style="width: 1300px;">

      <!-- <table class="card">
        <tr>
          <td style="vertical-align: middle; padding:40px 20px; text-align:center; width:500px;">
            <div id="bigbox">

              <div class="box">
                <a href="/createEvent">CREATE NEW EVENT</a>
              </div>
              <br>
              <div class="box">
                <a href="/viewEvent">VIEW CURRENT EVENTS</a>
              </div>

            </div>
          </td>
        </tr>
      </table> -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-1.12.3.min.js"
    integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.date.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.time.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
  </html>
